<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Agendamento</title>
</head>
<body>

<h2>Novo Agendamento</h2>

<form method="post" action="/web/agendamento/salvar">

    <input type="hidden" name="salaId" th:value="${salaId}">
    <input type="hidden" name="data" th:value="${data}">
    <input type="hidden" name="horario" th:value="${horario}">

    <label>Professor:</label>
    <select name="professorId">
        <option th:each="p : ${professores}" th:value="${p.id}" th:text="${p.nome}"></option>
    </select>

    <br><br>

    <button type="submit">Salvar</button>
</form>

</body>
</html>
